<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codetend.datasource.multi.mapper.second.SecondUserMapper">
    <select id="getUsers" resultType="com.codetend.datasource.multi.entity.User">
        SELECT `uid`, `name`, `desc` FROM user
    </select>
</mapper>