<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codetend.service.database.mapper.OrderMapper">
    <select id="getOrder" resultType="com.codetend.service.database.entity.Order">
        SELECT `oid`, `buyer_id`, `seller_id` FROM `order` WHERE oid=#{oid}
    </select>
    <select id="getOrders" resultType="com.codetend.service.database.entity.Order">
        SELECT `oid`, `buyer_id`, `seller_id` FROM `order` limit #{offset}, #{rows}
    </select>
    <insert id="setOrder" parameterType="com.codetend.service.database.entity.Order">
        insert into `order`(`buyer_id`, `seller_id`) VALUES (#{buyerId}, #{sellerId})
    </insert>
    <delete id="deleteOrder">
        delete from `order` WHERE oid=#{oid}
    </delete>
</mapper>