<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codetend.service.database.mapper.UserMapper">
    <select id="getUser" resultType="com.codetend.service.database.entity.User">
        SELECT `uid`, `name`, `desc` FROM user WHERE uid=#{uid}
    </select>
    <select id="getUsers" resultType="com.codetend.service.database.entity.User">
        SELECT `uid`, `name`, `desc` FROM user limit #{offset}, #{rows}
    </select>
    <insert id="setUser" parameterType="com.codetend.service.database.entity.User">
        insert into user(`name`, `desc`) VALUES (#{name}, #{desc})
    </insert>
    <delete id="deleteUser">
        delete from user WHERE uid=#{uid}
    </delete>
</mapper>